@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{box-sizing: border-box;}
body{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #333;
}
.hero{
    width: 100%;
    height: 700px;
    background: url(../main/wedding.jpg) no-repeat center;
    background-size: cover;
}
.text-center{
    text-align: center;
}
.unna{
    font-family: 'Unna', serif;
}
.aurore{
    font-family: 'La Belle Aurore', cursive;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.clearfix::after,
.row::after{
    content:"";
    display: table;
    clear:both;
}
.hero .container>div{
    border: 1px solid #fff;
    margin-top:30px
}
.hero .container>.hero-left{
    float: left;
    width: 40%;
    height: 125px;
    border-right: none;
}
.hero-logo h1{
    margin: 0;
    padding-top: 20px;
    font-family: 'La Belle Aurore', cursive;
}
.hero-logo p{
    margin: 0;
    padding-top: 8px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
.hero .container>.hero-logo{
    float: left;
    width: 20%;
    height: 125px;
    border: none;
    text-align: center;
    color: #fff;
}
.hero .container>.hero-right{
    float: left;
    width: 40%;
    height: 125px;
    border-left: none;
}

/* navigation */

nav.container{
    padding-top: 30px;
    text-align: center;
}
nav.container a{
    color: #fff;
    font-family: 'Unna', serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
}
.title{
    font-family: 'Unna', serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 75px;
    margin-top: 270px;
}
.flow{
    width: 300px;
}
.container>.flbox{
    background: url(../main/f01.jpg) no-repeat center;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin: 30px auto 20px;
}
h2.subtitle{
    font-size: 36px;
    padding-bottom: 40px;
}
.col{
    width: 33.33333334%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.col>div{
    margin-bottom: 30px;
}
.box1{
    height: 385px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.box2{
    height: 577px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.col img{
    width: 100%;
}
.text-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: none;
}
.text-box h3{
    font-size: 20px;
}
.box1>.text-box h3{
    margin-top : 40%
}
.box2>.text-box h3{
    margin-top : 60%
}
.text-box p{
    font-size: 30px;
}
.box2:hover>.text-box{
    display: block;
}
.box1:hover>.text-box{
    display: block;
}
.btn{
    display: block;
    width: 280px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background : rgb(138,207,154);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 50px;
    margin: 30px auto 100px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background: rgb(109,172,124);
}

/* section whoami */
section.whoami{
    background-color: rgb(237,242,239);
    padding-top: 50px;
}
.leftbox{
    width: 60%;
    float: left;
    position: relative;
}
.leftbox img{
    position: absolute;
}
img.aboutme{
    top: 25px;
}
img.aboutme2{
    top: 280px;
    right: 60px;
    border: 15px solid rgb(237,242,239);
    z-index: 2;
}
.rightbox{
    width: 40%;
    float: right;
}
.rightbox h1{
    font-size: 36px;
    line-height: 1.5;
}
.rightbox p{
    line-height: 1.5;
}
.whoami .btn{
    margin-left: 0;
}

/* packages */
/* 반응형 정사각형 만드는 공식 */

.package-box{
    width: 100%;
    position: relative;
}
.package-box::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.inner{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner img{
    width: 100%;
    height: auto;
}
.px16{
    font-size: 16px;
}
.px25{
    font-size: 25px;
}
.btn.btn1{
    width: 450px;
    font-weight: 3;
    margin-top: 0px;
}

/* container2 */

.main2{
    width: 100%;
    height: 450px;
    background: url(../main/wedding03.jpg) no-repeat center;
    background-size: cover;
}
.container2{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.hero2-logo h1{
    margin: 0;
    text-align: center;
    padding-top: 350px;
    font-family: 'Unna', serif;
    font-size: 36px;
    color: #fff;
}

/* whoami2 */

section.whoami2{
    margin-top: 60px;
    background-color: #fff;
    padding-top: 50px;
}

.leftbox2{
    width: 50%;
    float: left;
    position: relative;
}
.pack{
    width: 600px;
    height: 340px;
    margin-top: 160px;
    background-color: rgb(237,242,239);
}
.rightbox2{
    width: 50%;
    float: left;
    position: relative;
}
.rightbox2 p{
    font-size: 17px;
    padding-top: 50px;
    padding-left: 30px;
    margin-bottom: 0;
}
.rightbox2 .right{
    padding-top: 0;
    float: right;
    margin-right: 40px;
    padding-bottom: 20px;
    font-size: 25px;
}
.dmark{
    position: absolute;
    left: 40%;
    right: 60%;
    margin-top: 130px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.btn.btn2{
    width: 230px;
    font-weight: 4;
}